---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { eq } from "astro:db";
import { Patients } from "astro:db";

import { Cases } from "astro:db";
import { db } from "astro:db";

const sesiones = await db.select().from(Cases).innerJoin(Patients, eq(Cases.patientId, Patients._id));
---

<AdminLayout>
    <div style="padding: 50px 40px;">
      <div style="display: flex; justify-content: end;">
        <a href="/admin/crear/sesion" class="btn btn-primary mb-4">Agregar</a>
      </div>
    <div class="card">
      <h5 class="card-header">Sesiones</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th>Usuario</th>
              <th>Titulo</th>
              <th>Nota</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {
              sesiones.map(({Cases, Patients}) => (
                <tr>
                  <td>
                    <i class="fab fa-angular fa-lg text-danger me-3" />
                    <span class="fw-medium">
                      {Patients.name}
                    </span>
                  </td>
                  <td>{Cases._id}</td>
                  <td>{Cases.description}</td>
                  <td>
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                      >
                        <i class="bx bx-dots-vertical-rounded" />
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);">
                          <i class="bx bx-edit-alt me-1" /> Edit
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);">
                          <i class="bx bx-trash me-1" /> Delete
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</AdminLayout>
